# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
media

# Backup files
*~
*.bak

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery task logs
celerybeat-schedule.*
celerybeat.pid
