/* Container */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  height: 100%;
  border: 2px solid black;
}

/* Individual page number link */
.pagination a {
  padding: 0 1rem;
  color: black;
  text-decoration: none;
  font-size: 1vw; 
}

.pagination li {
  display: flex;
  height: 100%;
  align-items: center;
  border-radius: 8px;
}

/* Current page */
.pagination .active a {
  background-color: grey;
  color: white;
  border: 1px solid grey;
}

/* Hover effect */
.pagination li:hover  {
  background-color: #ddd;
}

/* Disabled buttons */
.pagination a.disabled {
  cursor: not-allowed;
  color: #ccc;
  border: 1px solid #ccc;
}