.pagination {
	display: flex;
	list-style: none;
	outline: none;
	justify-content: center;
	background-color: white;
	width: fit-content;
}

.pagination > .active > a{
	background-color: #203040 ;
	border-color: #203040 ;
	color: white;
}

.pagination > li > a{
	border: 1px solid #203040 ;
	padding: 5px 10px;
	outline: none;
	cursor: pointer;
}		

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color: #203040 ;
	border-color: #203040;
	outline: none ;
}

.pagination > li > a, .pagination > li > span{
	color: #203040
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
	border-radius: unset
}