.nav-bar {
  background-color: white;

  height: 10vh;
  min-height: 60px;
  max-height: 70px;

  width: 100%;
}

.nav-bar__logo {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.3%;
}

.nav-bar__logo img {
  height: 100%;

  width: 7%;
  min-width: 120px;
}